.DS_Store
*.pyc
*.pyo
env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/
makerspace_backend/makerspace_backend/Lib
makerspace_backend/makerspace_backend/Include
makerspace_backend/makerspace_backend/tcl
makerspace_backend/makerspace_backend/Scripts
